body {
	margin: 0;
}
#container {
	position: relative;
	
  }
  
  canvas {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
  }
  
  .btn {
	/*position: absolute;*/
	/*top: 20px;*/
	left: 20px;
	z-index: 2;
	width: 100px;
	margin: 7px;
  }


.btn-info {
	background-color: #000;
	color: #fff;
}




.column {
	/*margin-top: 10px;*/
	display: flex;
	flex-direction: column;
}
